.btn{
    background: $dark-green;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    width:260px;
    height:60px;
    transition: 1s;
}

.btn:hover{
    
    background: #884c3c;

}